[submodule "macvim"]
	path = macvim
	url = git://github.com/qvacua/macvim.git
[submodule "vimr-plugin-definition"]
	path = vimr-plugin-definition
	url = git://github.com/qvacua/vimr-plugin-definition.git
[submodule "StandardPlugins/ocdiscount"]
	path = StandardPlugins/ocdiscount
	url = git://github.com/qvacua/ocdiscount.git
[submodule "qvworkspace"]
	path = qvworkspace
	url = https://github.com/qvacua/qvworkspace.git
