github "ReactiveX/RxSwift" == 4.4.1
github "PureLayout/PureLayout" == 3.1.4
github "eonil/FileSystemEvents" == 1.0.0
github "sparkle-project/Sparkle" == 1.21.3
github "qvacua/CocoaFontAwesome" "master"
github "qvacua/CocoaMarkdown" "master"
github "qvacua/RxMessagePort" == 0.0.5
github "qvacua/RxNeovimApi" == 0.3.4
github "sindresorhus/github-markdown-css" == 3.0.1
github "httpswift/swifter" == 1.4.5
github "a2/MessagePack.swift" == 3.0.0
github "elegantchaos/DictionaryCoding" == 1.0.6
github "qvacua/ShortcutRecorder" "master"

github "Quick/Nimble" == 7.3.4
