export LC_ALL="en_US.UTF-8"
pod install

cd macvim/src
make clean
./configure --with-features=huge --enable-rubyinterp --enable-pythoninterp --enable-perlinterp --enable-cscope
make

cd ../..
[ -e build ] && rm -r build

xcodebuild -workspace VimR.xcworkspace -configuration Release -scheme VimR -derivedDataPath ./build clean build

VERSION=$(cat VimR/VimR-Info.plist | grep -A 1 CFBundleShortVersionString | grep \<string\> | sed 's/.*<string>\(.*\)<\/string>/\1/')
cd build/Build/Products/Release
tar -cjf VimR-$VERSION.tar.bz2 VimR.app

cd ../../../../

./Sparkle/sign_update.rb build/Build/Products/Release/VimR-$VERSION.tar.bz2 /Users/Shared/sparkle-priv.pem > build/sparkle-checksum.txt

du -ks build/Build/Products/Release/VimR-$VERSION.tar.bz2 | awk '{print $1*1024}' > build/size.txt

-------------------------------------------------------------

archive: build/**/*.tar.bz2, build/**/*checksum.txt, build/**/size.txt, build/**/VimR.app.dSYM
